body, html {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.auth-container {
  background-color: #ffffff;
  padding: 2px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h3 {
  font-size: 22px;
  color: rgba(0,0,0,0.86);
  text-align: center;
  margin-top: 24px;
  font-weight: normal;
}

.input-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.input {
  font-size: 16px;
  outline: none;
  border: 0;
  margin-top:24px;
  padding: 4px;
  box-shadow: none;
  border-bottom: 2px solid #81C784;
  margin-left: 16px;
  margin-right: 16px;
  transition: 0.3s all ease;
}

.input:active, .input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #43A047;
}

.input:hover {
  outline: none;
  box-shadow: none;
}

.button {
  padding: 8px;
  text-align: center;
  box-shadow: none;
  border: 0;
  outline: none; 
  margin-top: 24px;
  margin-bottom: 32px;
  background-color: #81C784;
  color: white;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.button:hover {
  box-shadow: none;
  border: 0;
  outline: none;
  background-color: #43A047;
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  border: 0;
  outline: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.data-container {
  display: none;
  margin: 0 auto;
}

.msg-container {
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 6px;
}

.msg-response {
  background-color: #E8F5E9;
}

.msg-sender {
  font-size: 16px;
  color: rgba(0,0,0,0.86);
  margin: 0;
  padding: 0;
}

.msg-data {
  font-size: 14px;
  color: rgba(0,0,0,0.66);
  margin: 0;
  margin-top: 4px;
  padding: 0;
}

.msg-time {
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  margin: 0;
  margin-top: 8<px;
  padding: 0;
}

.msg-date {
  font-size: 14px;
  color: rgba(0,0,0,0.66);
  padding: 0;
  margin-top : 16px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: bold;
}